### PAX ###
pax
pax.exe
libssl*.dll
libcrypto*.dll
cacert.pem

### Modpack ###
.out/
*.zip
!modpack/overrides/openloader/**/*.zip
*.jar

### Server Scripts ###
serverscripts/*
server-scripts/server/*
!server-scripts/**/README.*
!server-scripts/server-setup-config-yaml
!server-scripts/startserver.*

### VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
